@use "base/mixins" as m;
@use "base/variables" as v;

.header {
    min-height: 60rem;
    background-image:
        url(../img/grafico.svg),
        url(../img/grafico.svg),
        linear-gradient(
        to right,
        v.$negro,
        rgba(v.$negro, 0.5)
        ),
        image-set(
        url(../img/header.avif) type("image/avif"),
        url(../img/header.webp) type("image/webp"),
        url(../img/header.jpg) type("image/jpeg")
    );
    
    background-size: 400px, 400px, cover, cover;
    background-position: top left, bottom right, center, center;
    background-repeat: no-repeat;

    
    &__contenedor{
        @include m.contenedor;
    }
    &__navegacion{
        display: flex;
        justify-content: center;
        padding: 5rem;
        gap: 1.5rem;
        @include m.tablet { 
            justify-content: flex-end;
        }
        
    }

    &__enlace{
        color: v.$blanco;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        transition: all ease-in-out .3s;

        &:hover{
            color: v.$azul;
        }
    }

    &__contenido{
        padding-top: 10rem;
        @include m.tablet { 
            padding-top: 5rem;
        }
    }

    &__logo{
        @include m.texto-fluido(1rem, 8rem);
        @include m.texto-degradado(v.$azul, v.$secundario);
        text-align: center;
        @include m.tablet { 
            text-align: left;
            display: inline-block;
        }
    }

    &__texto{
        font-size: 3rem;
        font-weight: v.$bold;
        color: v.$blanco;
        margin:2rem 0;
        text-align: center;
        text-transform: uppercase;
        @include m.tablet { 
            text-align: left;
        }

        &--modalidad{
            font-size: 2rem;
        }
    }

    &__boton{
        @include m.boton(v.$secundario, v.$blanco);
        text-transform: uppercase;
        margin: 2rem 0;
        @include m.tablet { 
            width: auto;
        }
    }
}
