########################
# DEPENDENCIAS
########################
/vendor/
/node_modules/

########################
# ENTORNO / CONFIG
########################
.env
.env.*
!.env.example

########################
# BUILD / DIST
########################
/public/build/
/dist/
/build/
/coverage/

########################
# CACHE / LOGS
########################
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

########################
# SASS / CSS
########################
*.map
.sass-cache/

########################
# GULP / TEMP
########################
.tmp/
.cache/

########################
# SISTEMA OPERATIVO
########################
.DS_Store
Thumbs.db

########################
# IDEs / EDITORES
########################
.vscode/
.idea/
*.swp
*.swo

########################
# PHP
########################
.phpunit.result.cache

########################
# MISC
########################
*.bak
*.tmp
