@use "sass:color";
@use "base/variables" as v;

.alerta {
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: v.$bold;
    text-transform: uppercase;
}

.alerta__exito {
    background-color: color.scale(v.$verde, $lightness: 60%);
    border-left: .5rem solid v.$verde;
    color: darken(v.$verde, 20%);
}

.alerta__error {
    background-color: color.scale(v.$rojo, $lightness: 60%);
    border-left: .5rem solid v.$rojo;
    color: v.$rojo;
}
